.head1 {
  height: 400px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #008c70;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
  display:block;
  margin-top: 120px;
}

.head1 .name h2 {
  color: coral;
}