nav {
  height: 120px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
}

.logo {
  font-family: "Bungee";
}

.NewTweet {
float: right;
}