.new-tweet {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: “Source Sans Pro” , sans-serif;
}

.counter{
  display: flex;
  position: relative;
  left: 0;
}

textarea {
  display: block;
  justify-content: space-between;
  border: none;
  border-bottom: solid;
  margin-top: 5px;
  width: 100%;
}

.submit{
  background-color: rgba(0, 0, 0, 0.523);
  color: #ffffff;
  font-family: "Bungee";
}

.new-tweet div {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee';
}