.new-tweet {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
}

.new-tweet textarea {
  border: none;
  border-bottom: 2px solid black;
  background-color: transparent;
  margin-top: 1em;
  width: 100%;
  resize: none;
}

.submitarea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  font-family: 'Bungee', sans-serif;
}


.submitarea button {
  background-color: #4056A1;
  color: #ffffff;
}

.error-message {
  margin-top: 1em;
  padding: 1em;
  border: 2px solid black;
  border-spacing: 2px;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: red;
}